@model IEnumerable<PrescriptionCapstone.Models.Patient.Log>
@{
    ViewBag.Title = "PatientsLog";
}

<h2>PatientsLog</h2>

@*@foreach (KeyValuePair item in Model)
{
    <div>
        @item.Log
        <hr/>
    </div>
}*@